<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<!-- Appenders are responsible for writing the messages somewhere -->
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} [%p] - %c [%M]: %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<!-- Root element sets the log of the entire project -->
		<Root level="ERROR">
			<AppenderRef ref="stdout" />
		</Root>
		<!-- Logger element sets the log of a package or a class -->
		<Logger name="br.com.fluentcode.springmvc.controller" level="TRACE"
			additivity="false">
			<AppenderRef ref="stdout" />
		</Logger>
		<Logger name="org.springframework" level="DEBUG"
			additivity="false">
			<AppenderRef ref="stdout" />
		</Logger>
	</Loggers>
</Configuration>