<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<!-- Appenders are responsible for writing the messages somewhere -->
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%date{HH:mm:ss} [%-5level] %class.%method:%line|%msg%n" />
		</Console>
		<Console name="stdout.aj" target="SYSTEM_OUT">
			<PatternLayout pattern="%date{HH:mm:ss} [%-5level] %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<!-- Root element sets the default logger for the project -->
		<Root level="ERROR">
			<AppenderRef ref="stdout" />
		</Root>
		<!-- Logger element sets the log of a package or a class -->
		<Logger name="br.com.fluentcode.springmvc.controller" level="TRACE"
			additivity="false">
			<AppenderRef ref="stdout" />
		</Logger>
		<Logger name="aspect.br.com.fluentcode" level="TRACE"
			additivity="false">
			<AppenderRef ref="stdout.aj" />
		</Logger>
		<Logger name="org.springframework" level="INFO" additivity="false">
			<AppenderRef ref="stdout" />
		</Logger>
		<Logger name="org.hibernate" level="DEBUG" additivity="false">
			<AppenderRef ref="stdout" />
		</Logger>
	</Loggers>
</Configuration>